In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset0 = pd.read_csv('dataset_0_ANNOTATED.tsv', sep='\t')
dataset1 = pd.read_csv('dataset_1_ANNOTATED.tsv', sep='\t')

In [3]:
dataset0 = dataset0[(dataset0.annotator1 != 0) & (dataset0.annotator2 != 0) & (dataset0.annotator3 != 0)
                    & (dataset0.annotator4 != 0) & (dataset0.annotator5 != 0)]
len(dataset0)

4193

In [4]:
dataset1 = dataset1[(dataset1.annotator1 != 0) & (dataset1.annotator2 != 0) & (dataset1.annotator3 != 0)
                    & (dataset1.annotator4 != 0) & (dataset1.annotator5 != 0)]
len(dataset1)

3594

In [38]:
dataset0.head()

,word,sent1,sent2,group,mean,annotator1,annotator2,annotator3,annotator4,annotator5
0,богадельня,"-- Да куда же я пойду! ну, говори, дура, куда ...","<b><i>Богадельни,</i></b> больницы, приюты для...",EARLIER,3.8,4,4,3,4,4
1,богадельня,"-- Нет, Зиночка, не в <b><i>богадельню,</i></b...","Разрешения этого пока не последовало, а деньги...",COMPARE,3.8,3,4,4,4,4
2,богадельня,"-- Этот сумасбродный филантроп, которому золот...","К бульвару, у <b><i>богадельни,</i></b> туда ж...",LATER,3.6,4,4,3,3,4
3,богадельня,-- Я вам еще готов дать пятьдесят рублей на ва...,По указу царя произвели в Москве разборку нищи...,EARLIER,2.6,3,1,2,3,4
4,богадельня,"<b><i>Богадельня,</i></b> или исправительный д...","Настроит богаделен, ещё церковь выстроит, замо...",COMPARE,3.4,3,4,3,4,3

In [39]:
grouped = dataset0.groupby(['word', 'group'], 
                       as_index=False).agg({'mean': lambda x: np.around(np.mean(x), decimals=2)})
grouped

          word    group  mean
0    агентство  COMPARE  3.15
1    агентство  EARLIER  3.62
2    агентство    LATER  3.55
3     археолог  COMPARE  3.69
4     археолог  EARLIER  3.74
..         ...      ...   ...
208    элемент  EARLIER  2.15
209    элемент    LATER  1.86
210  юношество  COMPARE  3.51
211  юношество  EARLIER  3.04
212  юношество    LATER  3.25

[213 rows x 3 columns]

In [40]:
grouped = grouped.reset_index().groupby(['word', 'group'])['mean'].aggregate('first').unstack()
grouped

group       COMPARE  EARLIER  LATER
word
агентство      3.15     3.62   3.55
археолог       3.69     3.74   3.80
богадельня     3.65     3.30   3.29
больница       3.86     3.71   3.92
бюрократ       3.51     3.63   3.73
...             ...      ...    ...
философ        3.52     3.50   3.58
червяк         1.92     2.48   1.90
чиновник       3.77     3.79   3.72
элемент        1.91     2.15   1.86
юношество      3.51     3.04   3.25

[71 rows x 3 columns]

In [41]:
grouped['delta_later'] = np.around(grouped['LATER'] - grouped['EARLIER'], decimals=2)

In [42]:
grouped.head(30)

group        COMPARE  EARLIER  LATER  delta_later
word
агентство       3.15     3.62   3.55        -0.07
археолог        3.69     3.74   3.80         0.06
богадельня      3.65     3.30   3.29        -0.01
больница        3.86     3.71   3.92         0.21
бюрократ        3.51     3.63   3.73         0.10
весна           3.58     3.55   3.60         0.05
вино            3.37     3.68   3.77         0.09
влажный         2.82     3.03   2.59        -0.44
войско          3.85     3.86   3.65        -0.21
вывеска         3.40     3.50   3.58         0.08
графиня         3.95     3.95   3.92        -0.03
декрет          3.31     3.62   3.41        -0.21
директор        3.70     3.68   3.62        -0.06
дождь           3.78     3.54   3.76         0.22
дума            2.25     2.38   2.30        -0.08
заведующий      3.31     3.02   3.38         0.36
заключенный     1.71     2.49   3.40         0.91
защитник        2.66     2.90   2.61        -0.29
знатный         2.82     3.02   2.78        -0.24
казенный        2.89     2.97   2.98         0.01
классный        2.41     3.02   2.76        -0.26
клиника         3.22     3.58   3.51        -0.07
комиссар        2.99     3.35   3.34        -0.01
мазь            2.87     3.44   3.13        -0.31
мама            3.69     3.60   3.79         0.19
машина          2.12     2.30   2.74         0.44
молодец         2.22     2.61   2.62         0.01
насаждение      2.48     2.11   2.78         0.67
неудачник       3.37     3.51   3.51         0.00
новичок         3.54     3.70   3.61        -0.09

In [43]:
grouped.to_csv('dataset_0_DUREL.tsv', sep='\t')